@model DGStore.Models.Product

@{
    ViewData["Title"] = "نمایش محصول";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Model.Title
        </dt>
        <dt>
            @if (Model.IsExists)
             {
                <text>بلی</text>
             }
             else
             {
                <text>خیر</text>
             }
        </dt>
        <dt>
            @Model.NumberInStock
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberInStock)
        </dd>
        <dt>
            @Model.Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Model.Specification
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
