@model DGStore.Models.Product

@{
    ViewData["Title"] = "نمایش محصول";
}

<h2>جزییات</h2>

<div>
    <h4>محصول</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>عنوان</dt>
        <dd>
            @Model.Title
        </dd>
        <dt>موجود</dt>
        <dd>
            @if (Model.IsExists)
        {
            <text>بلی</text>
    }
    else
    {
        <text>خیر</text>
}
        </dd>
        <dt>
            تعداد موجودی
        </dt>
        <dd>
            @Model.NumberInStock
        </dd>
        <dt>
            قیمت
        </dt>
        <dd>
            @Model.Price
        </dd>
        <dt>
            مشخصات
        </dt>
        <dd>
            @Model.Specification)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">ویرایش</a> |
    <a asp-action="Index" class="btn btn-primary">بازگشت به لیست</a>
</div>
