@model IEnumerable<DGStore.Models.Product>

@{
    ViewData["Title"] = "نمایش محصولات";
}

<h2>محصولات</h2>

<p>
    <a asp-action="Create" class="btn btn-success">افزودن محصول</a>
</p>
@if (!Model.Any())
{
    <div>هیچ محصولی در فروشگاه ثبت نشده است</div>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>عنوان </th>
            <th>موجود </th>
            <th>تعداد موجودی </th>
            <th>قیمت </th>
            <th>مشخصات </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Title</td>
                <td>
                    @if (product.IsExists)
                    {
                        <text>بلی</text>
                    }
                    else
                    {
                        <text>خیر</text>
                    }
                </td>
                <td>@product.NumberInStock</td>
                <td>@product.Price</td>
                <td>@product.Specification</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">ویرایش</a> |
                    <a asp-action="Details" asp-route-id="@product.Id">جزییات</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}


