@model IEnumerable<DGStore.Models.Product>

@{
    ViewData["Title"] = "نمایش محصولات";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>عنوان </th>
            <th>موجود </th>
            <th>تعداد موجودی </th>
            <th>قیمت </th>
            <th>مشخصات </th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>@product.Title</td>
            <td>
                @if (product.IsExists)
                 {
                     <text>بلی</text>
                 }
                 else
                 {
                     <text>خیر</text>
                 }
            </td>
            <td>@product.NumberInStock</td>
            <td>@product.Price</td>
            <td>@product.Specification</td>

            <td>
                <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
